body{
  font-family: 'Indie Flower', cursive;
  background: url('https://cdn.tutsplus.com/psd/uploads/2014/02/snow06-04.gif') no-repeat center top;
  background-size: cover;
  /*background: url('http://images6.fanpop.com/image/photos/35500000/Elsa-elsa-the-snow-queen-35523116-460-338.gif') no-repeat center top;*/
}
h2 .instructions{
  margin-top: 30px;
}
h1{
  text-align: center;
  font-size: 80px;
  margin-top: 9px;
  color: #FF06DA;
  text-decoration: blink;
  background: url('https://media.giphy.com/media/Jsdc7bQe7g3WU/giphy.gif') no-repeat center top;
  margin-bottom: 9px;
}
h3{
  text-align: center;
  color: #FF06DA;
}
#p1{
  margin-left: 175px;
  text-align: center;
  color: #FF06DA;
  font-size: 50px;
  margin-bottom: -20px;
  margin-top: -400px;
}
#p2{
  margin-left: -65px;
  text-align: center;
  color: #FF06DA;
  font-size: 50px;
  margin-bottom: -20px;
}
.playerStats{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 20px;
  display: inline-block;
  padding: 20px;
  margin: 10px;
}
.card{
  width: 150px;
  min-height: 250px;
  border: 1px solid black;
  display: inline-block;
  color: black;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  vertical-align: top;
  font-weight: bold;
}
/*.deck{
  width: 800px;
  min-height: 800px;
  border: 1px solid black;
  display: inline-block;
  margin-left: 305px;
}*/
#discardPile{
  width: 150px;
  min-height: 250px;
  border: 1px solid black;
  /*margin-left: 600px;*/
  padding-bottom: 10px;
  /*margin-top: 46px;*/
  float: right;
}
/*#drawPile{
  width: 380px;
  height: 380px;
  border: 1px solid black;
  margin-left: 750px;
  margin-top: -383px;
  padding-bottom: 10px;
}*/
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.black{
  background-color: black;
  color: white;
}
#instructions{
  text-align: center;
  margin-top: 80px;
  font-size: 40px;
  color: #FF06DA;
}
p{
  font-size: 30px;
  color: #FF06DA;
}
#statsP1{
  height: 100px;
  width: 300px;
  /*margin-left: 390px;*/
  margin-top: 31px;
  background: url('http://img.lum.dolimg.com/v1/images/6d7454cea6644379adc7e529c5790a28078a2823.jpeg?region=0,0,450,450') no-repeat center;
  /*display: inline-block;*/
  margin-left: 430px;
}
#statsP2{
  height: 100px;
  width: 300px;

  margin-top: 31px;
  background: url('http://emea.lum.dolimg.com/v1/images/b5da8e4c0046a83b81dbd945719f6b354edd764b.jpeg') no-repeat center;
  display: inline-block;
  margin-left: 430px;
}
#deck{
  /*margin-left: 575px;*/
  font-size:40px;
  color: #9213FF;
  border-radius: 50%;
  width: 200px;
  font-family: 'Indie Flower', cursive;
  float: right;
  margin-top: -220px;
}
#player1-hand, #player2-hand{
  display: inline-block;
  min-height: 300px;
  min-width: 1050px;
  border: 1px dashed black;
  margin-top: 20px;
  margin-left: 180px;
}
#player2-hand{
margin-bottom: 100px;
}
.discard{
  margin-top: 50px;
  font-size: 30px;
  color: #9213FF;
}
#resetBtn{
  /*margin-left: 450px;*/
  font-size: 30px;
  color: #9213FF;
  font-family: 'Indie Flower', cursive;
  /*margin-top: 75px;*/
  border-radius: 50%;
  padding: 30px;
  width: 200px;
}
#message{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  /*margin-left: 620px;*/
  font-size: 30px;
  float: right;
}
#refreshBtn{
  font-size: 30px;
  border-radius: 50%;
  width: 200px;
  color: #9213FF;
}
#instLang{
  display: none;
}
.player-container{
  /*display: inline-block;*/
  margin-left: 55px;
}
